.pill {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: var(--border-radius-button);
    font-family: var(--montserrat);
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    color: var(--neutral-750);
    text-align: center;
    width: auto;
    height: 24px;
}
  
.pill--time {
    background-color: var(--primary-250);
}
  
.pill--day {
    background-color: var(--secondary-250); 
}

@media (max-width: 320px) {
    .treatment-details__container {
        width: 280px;
        padding: 12px 16px 16px;
    }
}