.signin-modal {
    height: 640px;
    width: 500px;
    background-color: var(--white);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 20px 24px;
    border-radius: var(--border-radius-card);
    display: flex;
    flex-direction: column;
}

.signin-modal__title {
    font-family: var(--montserrat);
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    color: var(--black);
    display: block;   
    text-align: center;
    margin: 0;
}

.signin-modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-button);
    width: 100%;
}

.signin-modal__form-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-card);
}

.signin-modal__image-section {
    width: 196px;
    flex-shrink: 0;
    text-align: center;
    display: flex;            
    justify-content: center; 
    align-items: center;    
    margin: 0 auto;  
    gap: var(--space-s);  
}

.signin-modal__image-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 167px;
    border-radius: var(--border-radius-img);
    background-color: var(--primary-250);
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.signin-modal__image {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-img);
    object-fit: contain;
    overflow: hidden;
    object-fit: cover;
}

.signin-modal__image-input {
    display: none !important;
}

.signin-modal__image-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--neutral-750);
    cursor: pointer;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.signin-modal__image-placeholder span,
.signin-modal__image-placeholder p {
    font-family: var(--font-family);
    font-size: var(--body-size);
    margin: 0;
    word-wrap: break-word;
    font-family: var(--montserrat);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
}

.signin-modal__fields {
    margin-top: 0;
    width: 100%; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 16px;
    align-items: start;
}

.signin-modal__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: var(--space-button);
    margin-bottom: var(--space-card)
}
.signin-modal__footer {
    text-align: center;
    width: 100%;
}

.signin-modal__footer-text {
    font-family: var(--montserrat);
    font-size: var(--body-size);
    color: var(--black);
}

.login-link {
    background: none;
    border: none;
    font-family: var(--montserrat);
    font-size: var(--button-size);
    font-weight: var(--button-weight); 
    color: var(--black);
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
}
  
  .error-text {
    color: var(--red);
    font-family: var(--montserrat);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    margin-top: var(--space-s);
  }
  