.add {
    background-color: var(--primary-500);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 56px;
    width: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.faPlus {
    color: var(--black);
    font-size: var(--h2-size);
}

/* Hover */

.add:hover {
    background-color: var(--primary-250);
}

/* Active */

.add:active {
    background-color: var(--primary-750);
}

.faPlus {
    color: var(--white);
}