:root {
    /* 🎨 Colors
       /* Primary */
       --primary-250: #b3d6ef; /* hover */
       --primary-500: #0079c8; /* main color (buttons, etc) */
       --primary-750: #0d1846; /* active */

       /* Secondary - medicines */
       --secondary-250: #f8d09e; /* hover */
       --secondary-500: #ec8938; /* default */
       --secondary-750: #380400; /* active */

       /* Tericiary - allergies */
       --terciary-250: #9ef0f0; /* hover */
       --terciary-500: #007d79; /* default */
       --terciary-750: #081a1c; /* active */

       /* Neutral */
       --neutral-250: #f7f5f2;
       --neutral-500: #e5e2d8;
       --neutral-750: #21272a;

       --black: #000000;
       --white: #ffffff;

       /* warnings */
       --red:#d60023;
       --yellow: #f1c22d;
       --green: #017221;

   /* ✍️ Typography (Montserrat) */
       --montserrat: "Montserrat", sans-serif;
     
       --h1-size: 32px;
       --h1-weight: 700;
     
       --h2-size: 24px;
       --h2-weight: 600;
     
       --h3-size: 20px;
       --h3-weight: 500;
     
       --body-size: 16px;
       --body-weight: 400;
     
       --button-size: 16px;
       --button-weight: 500;

   /* 📏 Spacing */
   --space-section: 40px; /* between sections*/
   --space-card: 28px; /* between cards*/
   --space-margin: 24px;
   --space-body: 20px;   /* title + text */
   --space-button: 16px; /* text + buttons / buttons */
   --space-s: 8px;


   /* ⚙️ Border radius */
   --border-radius-button: 50px;
   --border-radius-card: 12px;
   --border-radius-img: 8px;

   




}