.calendar-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 400px));
    grid-auto-rows: auto;
    gap: var(--space-section);
    padding: 40px 20px;
    background-color:var(--neutral-500);
    margin:auto auto 0 auto;
    width: fit-content;
    height:auto;
    box-sizing: border-box;
    justify-content: center;
    font-family: var(--montserrat);

}

.calendar-left {
  display: flex;
  flex-direction: column;
  gap: var(--space-card);
  align-items: center;
}

.calendar-right {
  display: flex;
  flex-direction: column;
  gap: var(--space-card);
  align-items: center;
}

.calendar-topleft,
.calendar-bottomleft {
    background-color:var(--neutral-500);
}

.calendar-topright {
    background-color: var(--primary-250);
}

.calendar-bottomright {
    background-color: var(--secondary-500);
}

.calendar-left h2,
.calendar-right h2 {
  margin: 0 0 15px 0;
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  color: var(--black);
  
}

@media (max-width: 768px) {
  .calendar-container {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 20px;
    gap: 30px;
  }
  .calendar-topleft,
  .calendar-bottomleft,
  .calendar-topright,
  .calendar-bottomright {
    max-width: 100%;
  }
}
