.input-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.input-field__label {
    font-family: var(--montserrat);
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    color: var(--black);
  }
  
  .input-field__input {
    height: 36px;
    max-width: 224px;
    border: 2px solid var(--neutral-750);
    border-radius: var(--border-radius-card);
    padding: 0 8px;
    font-size: var(--body-size);
    font-family: var(--montserrat);
    font-size: var(--body-size);
    font-weight: var(--body-weight);
    color: var(--black);
  }
  
  .input-field__input::placeholder {
    color: var(--neutral-750);
  }

  /* errors */
  .input-error {
    border-color: var(--red);
  }
  
  .input-field__error {
    color: var(--red);
    font-family: var(--montserrat);
    font-size: var(--body-size);
  }