.medication-card {
    background-color: var(--white);
    border-radius: var(--border-radius-card);
    padding: 8px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: none;
    font-family: var(--montserrat);
  }
  
  .medication-card__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-button);
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
    color: var(--neutral-750);
  }
  
  .medication-card__content span:not(:first-child) {
    color: #666;
  }