.modal-options__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
.modal-options__container {
    background-color: var(--white);
    border-radius: var(--border-radius-card);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 180px;
    height: 80px;
}

.modal-options__link {
    width: 100%;
    background: none;
    border: none;
    font-family: var(--montserrat);
    font-size: var(--body-size);
    color: var(--neutral-750);
    padding: 12px;
    cursor: pointer;
  }
  
  .modal-options__link:first-of-type {
    border-bottom: 1px solid var(--neutral-750);
  }
  